<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Lease Car</title>
  </head>
  <body>
    <h1 class="text-center">Car Leasing </h1>



    <form action="/" method="post">
    <div class="container-fluid" style="margin-left:400px;">

  <div class="form-row align-items-center">
    <div class="col-auto my-1">
    <div class="form-group col-md-12">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Desired Car</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="car">
        <option selected>Choose car</option>
        <option value="4">KIA</option>
        <option value="1">BMW</option>
        <option value="0">AUDI</option>
        <option value="14">VOLKSWAGEN</option>
        <option value="3">HYUNDAI</option>
        <option value="11">SKODA</option>
        <option value="13">TOYOTA</option>
        <option value="7">MERCEDES-BENZ</option>
        <option value="8">MINI</option>
        <option value="5">LAND</option>
        <option value="9">NISSIAN</option>
          <option value="10">SEAT</option>
        <option value="2">FORD</option>
        <option value="12">TESLA</option>
        <option value="6">LEXUS</option> 
      </select>
       </div>
    
    <div class="form-group col-md-12">
      <label class="mr-sm-2" for="inlineFormCustomSelect">Upfront</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="upfront">
        <option selected>Choose...</option>
        <option value="1">1 Month Upfront</option>
        <option value="3">3 Month Upfront</option>
         <option value="6">6 Month Upfront</option>
        <option value="9">9 Month Upfront</option>
       
           <option value="12">12 Month Upfront</option>
        
      </select>
       </div>
          <div class="form-group col-md-12">
       <label class="mr-sm-2" for="inlineFormCustomSelect">Contract Length</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="contract_length">
        <option selected>Choose...</option>
        <option value="24">24 Months</option>
         <option value="36">36 Months</option>
         <option value="48">48 Months</option>
      </select>
       </div>
          <div class="form-group col-md-12">
       <label class="mr-sm-2" for="inlineFormCustomSelect">Annual Milage</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="milage">
        <option selected>Choose...</option>
        <option value="5000">5000 Miles P/A</option><option value="8000">8000 Miles P/A</option><option value="10000">10000 Miles P/A</option><option value="12000">12000 Miles P/A</option><option value="15000">15000 Miles P/A</option><option value="20000">20000 Miles P/A</option><option value="25000">25000 Miles P/A</option><option value="30000">30000 Miles P/A</option></select>
        
      </select>
       </div>
        <div class="form-group col-md-12">
       <label class="mr-sm-2" for="inlineFormCustomSelect">Budget</label>
      <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="initial_payment">
    
       <option value="0-1500">upto £1500 pm</option><option value="1500-2000">£1500-£2000 pm</option><option value="2000-2500">£2000-£2500 pm</option><option value="2500-3000">£2500-£3000 pm</option><option value="3000-3500">£3000-£3500 pm</option><option value="3500-4000">£3500-£4000 pm</option><option value="4000-6000">£4000-£5000 pm</option><option value="6000-25000">Above £5000 pm</option></select>
       </div>
    </div>
     </div>
     <button type="submit" class="btn btn-outline-primary">Get Details Now</button>
    
    </div>
  </div>
</form>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="http
    s://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
